@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap');

html,
body {
  padding: auto;
  background-image: url('../public/backLogin.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: League Spartan, sans-serif;
}
